#about{
    background-color: maroon;
}

#portfolio{
    width: 100%;
    background: var(--grey);
}

#cardtext{
    font-family: 'Timmana', sans-serif;
    font-size: 20pt;
}

#creature{
    font-family: 'Press Start 2P', cursive;
    font-size: 14pt;
}
.display-4{
    font-family: 'Monoton', cursive;
}

.lead{
    font-family: 'Timmana', sans-serif;
}

.hobby{
    font-family: 'Timmana', sans-serif;
    font-size: 16pt;
}

#blop{
    font-family: 'Timmana', sans-serif;
    font-size: 20pt;
}