.webcoderskull {
	font-size: 0.5em;
  }
  
  svg {
	position: relative;
	background: #000;
	height: 800px;
	width: 100%;
	font: 16em/1 Arial;
  }
  
  .webcoderskull-1 {
	fill: none;
	stroke: white;
	stroke-dasharray: 7% 28%;
	stroke-width: 3px;
	-webkit-animation: stroke-offset 7s infinite linear;
			animation: stroke-offset 7s infinite linear;
  }
  .webcoderskull-1:nth-child(1) {
	stroke: #000000;
	stroke-dashoffset: 7%;
  }
  .webcoderskull-1:nth-child(2) {
	stroke: #005200;
	stroke-dashoffset: 14%;
  }
  .webcoderskull-1:nth-child(3) {
	stroke: #DBB800;
	stroke-dashoffset: 21%;
  }
  .webcoderskull-1:nth-child(4) {
	stroke: #D00000;
	stroke-dashoffset: 28%;
  }
  .webcoderskull-1:nth-child(5) {
	stroke: #efeac5;
	stroke-dashoffset: 35%;
  }
  
  @-webkit-keyframes stroke-offset {
	50% {
	  stroke-dashoffset: 35%;
	  stroke-dasharray: 0 87.5%;
	}
  }
  
  @keyframes stroke-offset {
	50% {
	  stroke-dashoffset: 35%;
	  stroke-dasharray: 0 87.5%;
	}
  }
  