:root {
    --red: #610000;
    --green: #205500;
    --blue: #818AAE;
    --yellow: #D1BE00;
    --purple: #5F0057;
    --grey: #CAC8C9;
    --blackmaroon: #1F0507;

    --fancyFont: 'Monoton', cursive;
    --fancyFont2: 'Poiret One', cursive;
    --serifFont: 'David Libre', serif;
    --sansSerifFont: 'Timmana', sans-serif;
}